

 /* MEUS ESTILOS */



 .btnadd {
    float:right;

 }

 .grid-container {
	width: 100%
	max-width: 1280px;
	margin: auto;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin-top: 60px;
}
.grid-item {
	padding: 45px;
	font-size: 18px;
	text-align: left;
}

.cadform {
	border-radius: 15px;
	border: 1px solid #999999;
	height: 25px;
	width: 100%;
	max-width: 210px;
	padding-left: 25px;
	box-sizing: border-box;
}


.save {

	width: 100%;

}

.savecontent {
	float: right;
	padding: auto;
	font-size: 28px;
	cursor: pointer;
}

.logo {
	position: relative;
	width: 100%;
	max-width: 200px;
	margin: auto;
    margin-top: 25px;
    margin-bottom: 22px;
	box-sizing: border-box;
	text-align: center;
}

.imglogo {
	width: 100%;
	max-width: 100px;
	margin-left: auto;
	box-sizing: border-box;
}

.logoemp {
	width: 100%;
	max-width: 150px;
	height: 40px;
	margin-top: 70px;
	margin: auto;
	margin-top: 60px;
	box-sizing: border-box;
	}

.imgemp{
	width: 100%;
	max-width: 150px;
	height: 36px;
	margin: auto;
}

.empname {
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	color: #999999;
}

.version {
	text-align: right;
	margin-right: 10px;
	font-size: 10px;
	color: #999999;
}

 /* FIM MEUS ESTILOS */
