

 /* MEUS ESTILOS */



 .btnadd {
    float:right;

 }

 .grid-container {
	width: 100%
	max-width: 1280px;
	margin: auto;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin-top: 60px;
}
.grid-item {
	padding: 45px;
	font-size: 18px;
	text-align: left;
}

.cadform {
	border-radius: 15px;
	border: 1px solid #999999;
	height: 25px;
	width: 100%;
	max-width: 210px;
	padding-left: 25px;
	box-sizing: border-box;
}


.save {

	width: 100%;

}

.savecontent {
	float: right;
	padding: auto;
	font-size: 28px;
	cursor: pointer;
}

 /* FIM MEUS ESTILOS */
