body, html {
	font-family: arial, times new roman;
	margin: 0px;
	padding: 0px;

	min-height: 100%;
	height: 100%;
}

section {
	max-width: 1280px;
    margin-left: auto;
	margin-right: auto;
	height: 100%;
}

header {

	background-color: #929292;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
}

#tabela {
    width: 90%;
    max-width: 1280px;
	border: 0px;
	margin: auto;
	margin-top: 70px;
}

#header-content {
	padding: auto;
	text-align: center;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	box-sizing: border-box;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
  }

  #wrapper:after {
	content: "";
	display: block;
	height: 50px; /* the footer's total height */
  }

  #content {
	height: 100%;
  }


  #footer {
  	display: inline-block;
	height: 37px; /* the footer's total height */
	width: 100%;
	margin-top: 13px;
	padding: auto;
  }

  #footer-content {
	color: #000000;
	background-color: #999999;
	margin: none;
	text-align: center;
	height: 37px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  }

#nav {
	width: 100%;
	max-width: 1280px;
	text-decoration: none;
	box-sizing: border-box;
}

.topnav{
	width: 100%;
	max-width: 1280px;
	margin-left: 0px;
	text-decoration: none;
	box-sizing: border-box;
}
.topnav a{
	float: left;
	display: block;
	color: #000;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	text-decoration: none;
	box-sizing: border-box;
}

.topnav a.active {
	border-right: 1px solid;
	border-left: 1px solid;
	border-right-color: white;
	border-left-color: white;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
}

.topnav a:link {
	text-decoration:none;
	color: #000;
}

.topnav a:hover {
	text-decoration:none;
	color: white;
}

.logon {
	float: right;
	margin-right: 0px;
	width: 100%;
	max-width: 50px;
	margin-top: 10px;
	box-sizing: border-box;
}

.alertlogon {
	float: right;
	margin-right: -11px;
	width: 100%;
	max-width: 25px;
	margin-top: 38px;
	box-sizing: border-box;
}

.alerta { /* login */

	width: 100%;
	margin-top: 15px;
	text-align: center;
	box-sizing: border-box;
	color: red;
	font-weight: bold;
}

.btnalert {
	background-image: url ('png/alert.png') no-repeat;
	cursor: pointer;
	border: none;
}

#boxlogin {
	margin: auto;
	position: relative;
	background-color: none;
	border: 2px solid;
	border-radius: 10px;
	border-color: #999999;
	max-width: 300px;
	margin-top: 100px;
	box-sizing: content-box;
	}

.logo {
	position: relative;
	width: 100%;
	max-width: 200px;
	margin: auto;
	margin-top: 25px;
	box-sizing: border-box;
	text-align: center;
}

.imglogo {
	width: 100%;
	max-width: 100px;
	margin-left: auto;
	box-sizing: border-box;
}

.form {
	width: 100%;
	max-width: 200px;
	margin: auto;
}

.user[type=text]{
		padding: 5px;
		border: none;
	  	border-bottom: 1px solid #999999;
	  	width: 100%;
	  	max-width: 200px;
	  	margin-top: 40px;
		text-align: center;
		background-color: transparent;
		float: left;
		box-sizing: border-box;
		}

.pass[type=password]{
		padding: 5px;
		border: none;
	  	border-bottom: 1px solid #999999;
	  	width: 100%;
	  	max-width: 200px;
	  	margin-top: 20px;
		margin-left: auto;
		text-align: center;
		background-color: transparent;
		float: left;
		box-sizing: border-box;
		}

.iconuser {
	width: 100%;
	max-width: 20px;
	float: right;
	display: inline-block;
	margin-top: -23px;
}

.iconpass {
	width: 100%;
	max-width: 20px;
	float: right;
	display: inline;
	margin-top: -17px;
}

.button {
	width: 100%;
	max-width: 120px;
	margin: auto;
}

.btn {
	margin-top: 30px;
	width: 100%;
	max-width: 120px;
	height: 30px;
	margin-left: auto;
	border: 1px solid #999999;
	border-radius: 20px;
	background-color: transparent;
	color: #999999;
	font-size: 14px;
	cursor: pointer;
	box-sizing: border-box;
	}

.logoemp {
	width: 100%;
	max-width: 150px;
	height: 40px;
	margin-top: 70px;
	margin: auto;
	margin-top: 60px;
	box-sizing: border-box;
	}

.imgemp{
	width: 100%;
	max-width: 150px;
	height: 36px;
	margin: auto;
}

.empname {
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	color: #999999;
}

.grid-container {
	width: 100%
	max-width: 1280px;
	margin: auto;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin-top: 60px;
}
.grid-item {
	padding: 45px;
	font-size: 18px;
	text-align: left;
}

.cadform {
	border-radius: 15px;
	border: 1px solid #999999;
	height: 25px;
	width: 100%;
	max-width: 210px;
	padding-left: 25px;
	box-sizing: border-box;
}

.save {
	width: 100%;

}

.savecontent {
	float: right;
	padding: auto;
	font-size: 28px;
	cursor: pointer;
}

.imgcheck {
	width: 100%;
	max-width: 35px;
	margin: auto;
	cursor: pointer;
}

.btnsave {
	width: 100%;
	max-width: 170px;
	border: none;
	background-color: transparent;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	position: relative;
	box-sizing: border-box;

}

.add {
	width: 100%;
	max-width: 1280px;
	margin-top: 10px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

.addcontent {
	float: right;
	font-size: 28px;
	cursor: pointer;
	margin-right: -40px;
}

.add a {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

.add a:hover {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

.btnadd {
	float: right;
	width: 100%;
	max-width: 210px;
	border: none;
	background-color: transparent;


	box-sizing: border-box;

}

.version {
	text-align: right;
	margin-right: 10px;
	font-size: 10px;
	color: #999999;
}


@media only screen and (max-width: 600px) {

	#boxlogin {
		border: none;
		border-radius: none;
		border-color: none;
		box-sizing: content-box;
	}

	.iconuser {
		width: 100%;
		max-width: 20px;
		float: right;
		display: inline-block;
		margin-top: -23px;
	}

	.iconpass {
		width: 100%;
		max-width: 20px;
		float: right;
		display: inline;
		margin-top: -17px;
	}


}
